<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multi.campong.shop.model.mapper.ShoppingMapper">

	<resultMap type="Shopping" id="shoppingListResultMap">
		<id property="pno" column="PNO" />
		<!-- <id property="productId" column="PRODUCTID"/> -->
		<result property="productId" column="PRODUCTID" />
		<result property="title" column="TITLE" />
		<result property="link" column="LINK" />
		<result property="image" column="IMAGE" />
		<result property="lprice" column="LPRICE" />
		<result property="hprice" column="HPRICE" />
		<result property="brand" column="BRAND" />
		<result property="category2" column="CATEGORY2" />
		<result property="category3" column="CATEGORY3" />
	</resultMap>

	<select id="selectShoppingList" resultMap="shoppingListResultMap" parameterType="map">
		SELECT DISTINCT PNO, PRODUCTID, TITLE, LINK, IMAGE, LPRICE, HPRICE, BRAND, CATEGORY2, CATEGORY3
		FROM SHOP
		WHERE CATEGORY2 = '캠핑'
		<if test="title != null">
			AND TITLE LIKE '%${title}%'
		</if>
		
		<if test="CheckItem != null">
			AND (
			<foreach collection="CheckItem" item="item" separator="or">
				CATEGORY3 LIKE '%${item}%'
			</foreach>
			)
		</if>
				
		<if test="CheckBrand != null ">
			AND (
			<foreach collection="CheckBrand" item="brand" separator="or">
				BRAND LIKE '%${brand}%'
			</foreach>
			)
		</if>
		ORDER BY PNO ASC LIMIT ${limit} OFFSET ${offset}
	</select>

	<select id="selectShoppingCount" resultType="int" parameterType="map">
		SELECT COUNT(DISTINCT PNO)
		FROM SHOP
		WHERE CATEGORY2 = '캠핑'
		<if test="title != null">
			AND TITLE LIKE '%${title}%'
		</if>
		
		<if test="CheckItem != null">
			AND (
			<foreach collection="CheckItem" item="item" separator="or">
				CATEGORY3 LIKE '%${item}%'
			</foreach>
			)
		</if>
		
		<if test="CheckBrand != null ">
			AND (
			<foreach collection="CheckBrand" item="brand" separator="or">
				BRAND LIKE '%${brand}%'
			</foreach>
			)
		</if>
	</select>

</mapper>